In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [135]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [136]:
driver.get('https://www.naukri.com/')

In [137]:
name=driver.find_element_by_class_name('suggestor-input')
name.send_keys('data analyst')

In [138]:
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys('bengalore')

In [139]:
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search.click()

In [140]:
job_title=[]
comapny_name=[]
locations=[]
exprience=[]

In [141]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="91a1ed93-83e9-4621-af86-a8418f9c50f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="1d5fb015-87f1-4d9a-967f-9ac5385e77de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="030f2e2e-dcac-47ee-beb2-32474201fdf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="8af2e3e6-0735-477e-b790-ca35d99ce155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="c6aaf9c6-3b65-440f-81d0-6fe422ef7ad0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="ed0399c7-a3de-4ae0-9540-99dd97f02ae0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="9da46e47-036b-4e5e-90cb-c7a84a6f0281")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="0460f673-184c-4cb3-9634-c380d99c25a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="8888cb47-2b9f-41e9-af88-7b4814a10f05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="8a8f9502-3445-4f49-90c9-20568ffddede")>]

In [142]:
for i in title:
    tit=i.text
    job_title.append(tit)
    
job_title[0:10]

['Sr Data Analyst II',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Business and Data Analyst',
 'Data Analyst - Python / SQL',
 'Data Analyst 2-1',
 'Senior Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Jr . Data Analyst',
 'Senior Data Analyst, Data & Analytics']

In [143]:
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="904390cc-7744-42f9-a723-a2047a753a0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="f8b0e4d7-e9f6-44bb-b929-8f2462dc0a35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="ea4aebc9-7be0-4983-9fa0-7c757d845a63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="29a979ae-4521-4a36-bfc0-b1a33d8ae868")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="79ad1624-c49d-4b34-baf6-406ebc28879b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="f2abc62b-c34f-438d-a660-585151b56293")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="aa58acbd-96df-4f0e-bd88-4793d92450a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="f0d4d277-8fd3-4c99-942f-c8dcd9b31867")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="62ec289b-a42c-4ef0-a827-08f6cc3a184f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="b535bcc3-ebfb-4478-b8fb-39abcab0f416")>]

In [144]:
for i in name:
    na=i.text
    comapny_name.append(na)
    
comapny_name[0:10]

['IHS Markit',
 'Vmware',
 'CAREERDOST ENTERPRISE',
 'Myntra',
 'PayPal',
 'Capco',
 'Concerto HealthAI',
 'Gsn Games India',
 'Armorblox',
 'ReSource Pro Operational Solutions Pvt Ltd.']

In [145]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="c47a6695-9bc4-4bf5-8756-8c4ec5037456")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="7ed85ba0-7405-4a8a-856e-ab7d343448c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="638d36f8-d86d-4440-a3cf-fb13482a7596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="11ef09bf-34ba-48ae-9f84-ab0bf6c6216d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="38094000-2547-4bda-a8f8-574a244f909e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="f772e807-292f-404e-a7d0-8edd22af9dc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="528f8b31-e895-471d-99ce-c6148eb8002b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="423d87c3-e4df-4d65-833f-9d7e74e01b2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="4b33ae7b-6337-41b5-930a-b27051869f5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="954d4ce5-ba8c-4efc-a715-dab0caf0ed53")>]

In [146]:
for i in location:
    loc=i.text
    locations.append(loc)
    
locations[0:10]

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [147]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="1c8b85df-1de6-4098-b90d-2ee31d6cc9c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="01cbdb90-ea5b-4311-8db0-14ea805a35ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="df516de2-ae72-4eac-894b-95db23eaa61a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="5b6ee6d3-d762-4147-a67f-a9631b1f4647")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="060e96fe-bfb1-49d3-867c-55f486c22e69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="6076651a-de4e-4405-acfc-f7cac256123e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="52e88f02-6086-4814-818c-7a7d3f9a1be7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="2ee4423b-e9c2-4cc0-8b81-cf738302465f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="55f1e654-9658-4cf3-a792-1d7d511bbe48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="a5aff52d-04f2-48d6-886a-f2c204e15acd")>]

In [148]:
for i in exp:
    ex=i.text
    exprience.append(ex)
    
exprience[0:10]

['3-6 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '3-5 Yrs']

In [149]:
df=pd.DataFrame({'Comapny name': comapny_name , 'job title': job_title , 'Location': locations })
df[0:10]

,Comapny name,job title,Location
0,IHS Markit,Sr Data Analyst II,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Vmware,Senior Business Analyst - Data Sciences and Ad...,Bangalore/Bengaluru
2,CAREERDOST ENTERPRISE,Business and Data Analyst,Bangalore/Bengaluru\n(WFH during Covid)
3,Myntra,Data Analyst - Python / SQL,Bangalore/Bengaluru
4,PayPal,Data Analyst 2-1,Bangalore/Bengaluru
5,Capco,Senior Data Analyst,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
6,Concerto HealthAI,Data Analyst,Bangalore/Bengaluru
7,Gsn Games India,Senior Data Analyst,Bangalore/Bengaluru
8,Armorblox,Jr . Data Analyst,Bangalore/Bengaluru
9,ReSource Pro Operational Solutions Pvt Ltd.,"Senior Data Analyst, Data & Analytics",Bangalore/Bengaluru

Q2 ****************************************************************************************************************************
Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [150]:
driver.get('https://www.naukri.com/')

In [151]:
name=driver.find_element_by_class_name('suggestor-input')
name.send_keys('data scientist')

In [152]:
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys('bengalore')

In [153]:
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search.click()

In [154]:
job_title=[]
comapny_name=[]
locations=[]
exprience=[]

In [155]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="0074bd1e-8d13-4be4-a0e6-28b2b9fd9a3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="25b7498e-6591-4e89-8d59-12c1bdf5cf0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="c88cd932-cc62-4e26-b74a-cd68b90c0728")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="f7de0a81-c9bc-4edb-be13-eb92d0e48f9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="ff3d7c7b-d44a-48c2-890c-7e19a72f0c12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="99aa1977-1868-4b9c-a6ee-b9a8181f03f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="03ae2643-d57c-4f41-9480-a4e821f15b9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="ad66c7cd-9628-4299-a905-edc5ccf89e90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="57c742c2-dd75-4cf9-b12e-c4d06af8c481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="141afbc8-e9b7-45ae-8b8f-0859728ef177")>]

In [156]:
for i in title:
    tit=i.text
    job_title.append(tit)
    
job_title[0:10]

['Rolls-Royce Data Labs : Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Staff Data Scientist',
 'Sr Data Scientist',
 'Data Scientist 1',
 'Data Scientist Opportunity with PayU - Diversity Hiring',
 'Lead Data Scientist',
 'Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Assistant Manager/Manager/Senior Manager - Data Scientist']

In [157]:
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="43e175cd-a51c-4431-a585-6fc6a2966488")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="383e3999-a0ac-472e-a856-bd48fdf267c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="735d6f2f-9a52-43ee-85c4-3aca66144ab2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="136fe0b0-9afd-4fe2-b125-7f256ce09df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="b795f571-ad21-40a0-b07c-87d893e14dcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="0183f328-a34a-4996-8f90-810adbceafc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="5fa2fa41-261d-4dc0-b8dc-120f0d0320fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="31a9847d-2dd0-4913-a246-91d2dbb296a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="2fc8f862-bd26-4240-80ab-5bdae8ffac8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="9026ac32-4e6a-43e4-b1a2-7795e601b461")>]

In [158]:
for i in name:
    na=i.text
    comapny_name.append(na)
    
comapny_name[0:10]

['Rolls Royce',
 'IBM',
 'Walmart',
 'Target',
 'PayPal',
 'PayU',
 'Target',
 'Walmart',
 'IBM',
 'Huquo Consulting Pvt. Ltd']

In [159]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="c7c5ce5e-bf7c-46ed-a5ab-2ad9b032efa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="3fca8331-bbde-46d4-bc00-0b150d41405d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="82126cdb-de5b-4aee-a372-c89b5a770ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="d5184c58-4f16-4268-bc4a-20c8d8b346e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="650695ac-d3b4-4d9b-8d85-e07c0317bcec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="3ec6b9d8-4046-4f31-b142-0d6dd8fe1276")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="53539bba-2915-49dd-a156-f1a89c97855d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="d39a26ff-b231-4e0c-bd23-96b711188239")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="c1c53d57-ed0e-4263-aa54-f6b34fc04031")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="9b56ca0e-f9c7-4b6c-84d1-74fd7ef6ada7")>]

In [160]:
for i in location:
    loc=i.text
    locations.append(loc)
    
locations[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [161]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="7df9c746-bdd2-4d16-b978-19503626a411")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="7a77a7a4-90c2-4251-b351-510fec030ba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="d6f8515e-4b7c-46b2-8af4-b1b41e8ea66c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="182cc321-26d9-4b70-a751-134b50e62991")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="46770a5d-63f0-435b-a8a6-801837c9dbd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="8d52aae1-0431-4845-ba74-2e74fe643b38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="39d78926-9ff9-4123-b319-6fce8302a10a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="d8be9c01-a1b6-4a9e-b1df-d0fe6d0e167e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="c86f8dc0-5e4a-459c-ada5-bba310b312ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b64278e8d0496c30d2ffcbbb6be2f88", element="45ba69a1-5f68-424e-abe0-a82c41d54da1")>]

In [162]:
for i in exp:
    ex=i.text
    exprience.append(ex)
    
exprience[0:10]

['3-5 Yrs',
 '6-11 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '7-12 Yrs',
 '5-10 Yrs',
 '4-8 Yrs',
 '2-7 Yrs']

In [163]:
df=pd.DataFrame({'Comapny name': comapny_name , 'job title': job_title , 'Location': locations})
df[0:10]

,Comapny name,job title,Location
0,Rolls Royce,Rolls-Royce Data Labs : Data Scientist,Bangalore/Bengaluru
1,IBM,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru
2,Walmart,Staff Data Scientist,Bangalore/Bengaluru
3,Target,Sr Data Scientist,Bangalore/Bengaluru
4,PayPal,Data Scientist 1,Bangalore/Bengaluru
5,PayU,Data Scientist Opportunity with PayU - Diversi...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ..."
6,Target,Lead Data Scientist,Bangalore/Bengaluru
7,Walmart,Senior Data Scientist,Bangalore/Bengaluru
8,IBM,Cognitive/AI Senior Data Scientist,Bangalore/Bengaluru
9,Huquo Consulting Pvt. Ltd,Assistant Manager/Manager/Senior Manager - Dat...,"Gurgaon/Gurugram, Bangalore/Bengaluru"

Q3 **************************************************************************************************************************
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [175]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [176]:
driver.get('https://www.naukri.com/')

In [177]:
name=driver.find_element_by_class_name('suggestor-input')
name.send_keys('data scientist')

In [178]:
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys('bengalore')

In [179]:
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search.click()

In [180]:
job_title=[]
comapny_name=[]
locations=[]

In [182]:
# salary click
salary=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]')
salary.click()

In [183]:
# location
loc= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[12]/div[2]/div[4]')
loc.click()

In [184]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="ea84ab39-22fb-46c7-a118-be5e8485d791")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="0a82c9af-1818-46f9-89a2-9ebdc216de1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="e778be2a-29dd-4c0e-8b69-dedcb01c1418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="fa0c212f-fc29-4902-bb68-3a912096998c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="5249f228-ed39-4c2d-9d19-bc68bebc83de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="1a21328c-c5e9-4110-8813-0a47fd60a4f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="6de42773-8206-4238-a57a-ea203d10d9e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="c1791296-b4d9-4f6d-a021-dd0f5b65f2e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="61678385-2173-4f7d-8519-feae174b2669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="9a725055-1a69-46ce-9078-271802e18f00")>]

In [185]:
for i in title:
    tit=i.text
    job_title.append(tit)
    
job_title[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist - Python/SQL',
 'Data Scientist',
 'Urgent opening For Data Scientist role',
 'Data and applied Scientist',
 'Data Scientist',
 'Senior Data Scientist Lead',
 'Sr Data Analyst',
 'Data Analyst/Data Engineer']

In [186]:
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="ce22778b-10f1-44f3-acf6-9c3f875cfa30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="fdd49d43-c8f2-4ad4-9114-8b617f887d4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="bd0f8379-5786-435b-b205-3853a746039e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="2a00c53f-2f8e-43e5-b8f4-bab32179a749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="a8040847-e164-4b97-b9c5-fc66ae53b545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="1082d49d-9963-4257-bff7-91f4c5cc37d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="74a09dec-5e0d-4719-af4d-0ff2e8369229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="739531f8-6acb-4454-8efc-5fedda238434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="928fe061-4e82-445f-bf35-5470aa9de5cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="06dfbcd6-9939-47b9-8cb0-8b8dcda9420c")>]

In [187]:
for i in name:
    na=i.text
    comapny_name.append(na)
    
comapny_name[0:10]

['Ashkom Media India Private Limited',
 'BlackBuck',
 'AVE-Promagne',
 'Country Veggie',
 'GLOBAL UPSIDE India Pvt Ltd',
 'Microsoft',
 'SpotDraft',
 'Wipro',
 'TECHNODYSIS PRIVATE LIMITED',
 'Coforge']

In [188]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="af1a9394-9384-4c8c-bc66-e07b4115e196")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="cb382222-59d9-48a2-b7a6-4f313d65cfec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="d59c0106-acc6-4e03-9e3a-2f34cd0339e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="6a45b8b1-a587-4098-864a-fb23cff71632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="c9c8a3a5-9ac1-4486-87e6-81c002374b37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="811810dd-1613-46d9-9bd8-82f95b796c88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="efb46f30-6ac2-4a7f-85da-150046f6d221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="42dfd084-6f9c-41f0-88e2-4b93c4d63539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="a19817ff-1cf9-435d-aaa3-bad847ea4cd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="fecb7d03-76b9-40ef-9d00-2a886f9558cb")>]

In [189]:
for i in location:
    loc=i.text
    locations.append(loc)
    
locations[0:10]

['Noida, Bangalore/Bengaluru',
 'Gurgaon, Bengaluru',
 'Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra, Gurgaon/Gurugram, Jaipur, Bangalore/Bengaluru',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru']

In [190]:
exprience=[]

In [191]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="79b9370a-9860-498b-a191-239a8e7a1cc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="07adf74d-8191-4b94-8570-8534800c978c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="1ad95eb7-b2cc-476c-ab70-f253e1544bf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="043142cf-f9ee-4e03-8295-4e7041a4e940")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="efc00433-24d5-4034-ae06-b2ea72151d61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="5f6d7047-b7f4-429d-b8be-6d787f7390a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="e5e6a6f4-7716-42dd-9176-1fdb33b509a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="67026109-d3f7-4ffd-b941-1839179f4203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="78448426-67db-4ea3-a61c-2821108655f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="73a56e8f758ca3c8f479c21c53b1d580", element="a628086a-6cc1-4248-91dc-c3dedd5a2032")>]

In [192]:
for i in exp:
    ex=i.text
    exprience.append(ex)
    
exprience[0:10]

['3-6 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '6-11 Yrs',
 '6-10 Yrs',
 '6-10 Yrs']

In [193]:
df=pd.DataFrame({'Comapny name': comapny_name , 'job title': job_title , 'Location': locations , 'exprience': exprience })
df[0:10]

,Comapny name,job title,Location,exprience
0,Ashkom Media India Private Limited,Data Scientist,"Noida, Bangalore/Bengaluru",3-6 Yrs
1,BlackBuck,Data Scientist,"Gurgaon, Bengaluru",3-7 Yrs
2,AVE-Promagne,Data Scientist - Python/SQL,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",3-8 Yrs
3,Country Veggie,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",1-3 Yrs
4,GLOBAL UPSIDE India Pvt Ltd,Urgent opening For Data Scientist role,"New Delhi, Bangalore/Bengaluru",2-4 Yrs
5,Microsoft,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",3-7 Yrs
6,SpotDraft,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",1-5 Yrs
7,Wipro,Senior Data Scientist Lead,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",6-11 Yrs
8,TECHNODYSIS PRIVATE LIMITED,Sr Data Analyst,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",6-10 Yrs
9,Coforge,Data Analyst/Data Engineer,"Noida, Mumbai, Hyderabad/Secunderabad, Pune, B...",6-10 Yrs

Q4 ***************************************************************************************************************************
Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [3]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [4]:
driver.get('https://www.flipkart.com/')

In [6]:
product=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [7]:
search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [13]:
brand_name=[]
description=[]
price=[]

In [14]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="25c75400-f13d-4b90-bc61-3233a439fb5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="c3d26ac1-1e2e-40d6-bb42-7d03d862a9bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="f03c83ea-1b36-47f8-a323-cd315e6c5c73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="24674caf-8639-446a-b8b7-cd71fb9e3068")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="dbb35e04-3680-4a11-855c-c8894f795a38")>]

In [15]:
for i in brand:
    bra=i.text
    brand_name.append(bra)
    
brand_name

['Singco India',
 'Ray-Ban',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'Mi',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'Ray-Ban',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'hipe',
 'Ray-Ban',
 'New Specs',
 'SUNBEE',
 'Lee Topper',
 'Ray-Ban',
 'DEIXELS',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Ray-Ban']

In [16]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [17]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="dc28286a-c12e-4f93-8d06-6c1321641048")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="20f0984b-2e7f-44c2-8030-c5c24aca7466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="a26a092e-42c7-4dd8-81be-e120fca73540")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="67f70044-8282-4e83-a775-6f0630a2b327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="c7d477db-8141-4be3-82c4-7f3714b0188f")>]

In [ ]:
for i in brand:
    bra=i.text
    brand_name.append(bra)
    
brand_name

In [19]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="dc28286a-c12e-4f93-8d06-6c1321641048")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="20f0984b-2e7f-44c2-8030-c5c24aca7466")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="a26a092e-42c7-4dd8-81be-e120fca73540")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="67f70044-8282-4e83-a775-6f0630a2b327")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="c7d477db-8141-4be3-82c4-7f3714b0188f")>]

In [20]:
for i in brand:
    bra=i.text
    brand_name.append(bra)
    
brand_name

['Singco India',
 'Ray-Ban',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'Mi',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'Ray-Ban',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'hipe',
 'Ray-Ban',
 'New Specs',
 'SUNBEE',
 'Lee Topper',
 'Ray-Ban',
 'DEIXELS',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Ray-Ban',
 'SRPM',
 'kingsunglasses',
 'maxa',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'HIPPON',
 'PIRASO',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'hipe',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'Ray-Ban',
 'Silver Kartz',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'SRPM',
 'kingsunglasses',
 'maxa',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'HIPPON',
 'PIRASO',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'hipe',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'Ray-Ban',
 'Silver Kartz',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT']

In [46]:
sujay=brand_name[0:100]

In [ ]:
sujay

In [22]:
#preview page

preview=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
preview.click()

In [24]:
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="8e2452c4-db94-4dfe-8d6d-947d264d165b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="fd117021-f0b5-413f-bdb8-feba1c2fa00f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="3f67d1d0-69ce-48f4-81e2-46dac276b331")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="791f820a-d54c-4154-9690-5a120cdaf937")>]

In [ ]:
for i in desc:
    des=i.text
    description.append(des)

description

In [25]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [26]:
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="50c25785-71d4-40c8-9c39-f27cef0ac9dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="daec634f-3f63-4a40-a026-cbae5cbe9c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="ba5420ac-76b4-47cb-86fe-a156a0466aa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="f58ef024-1801-4408-b6bf-3448923d3c8b")>]

In [31]:
for i in desc:
    des=i.text
    description.append(des)

description

['UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)']

In [27]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [28]:
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="9f556ec9-9fe0-47f4-a3c1-998095ebada4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="672daf85-08da-4901-84d5-c271007bed19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="1f588ae0-1f9a-4b29-88ef-8e40d83d6740")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="1972ba0b-7bd1-4f55-a9cc-fe44ebc5fa67")>]

In [32]:
for i in desc:
    des=i.text
    description.append(des)

description

['UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Others Aviator Sunglasses (32)',
 'UV Protection, Night Vision, Riding Glasses, Others Ret...',
 'UV Protection, Mirrored, Night Vision, Riding Glasses W...',
 'UV Protection, Mirrored, Gradient Round, Wayfarer Sungl...',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'Mirrored, UV Protection, Riding Glasses Aviator Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Others Rectangular Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Round Sunglasses (55)',
 'UV Protection Round Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Round Sunglasses (50)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (55)',
 'Gradient, UV Protection Round Sunglasses (49)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (57)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (45)']

In [ ]:
sujay1=description[0:100]
sujay1

In [33]:
#preview page

preview=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
preview.click()

In [40]:
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="a83e9fc8-7f9c-47c6-9ccf-a412fa37e715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="545bc5e0-4b60-4729-9fc4-33ef698270d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="e83601e0-f278-485e-948c-1096b9229c52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="74bf2337b83b67e9f3032cc55ecb0d09", element="4d3b7cdf-120d-4c42-854e-4b91f3aa70ee")>]

In [43]:
for i in prices:
    pri=i.text
    price.append(pri)
    
price[40::]

['₹329',
 '₹630',
 '₹649',
 '₹599',
 '₹699',
 '₹649',
 '₹295',
 '₹6,219',
 '₹599',
 '₹283',
 '₹236',
 '₹649',
 '₹299',
 '₹225',
 '₹224',
 '₹649',
 '₹229',
 '₹224',
 '₹209',
 '₹3,909',
 '₹474',
 '₹719',
 '₹195',
 '₹7,619',
 '₹265',
 '₹259',
 '₹1,099',
 '₹5,389',
 '₹229',
 '₹280',
 '₹219',
 '₹404',
 '₹639',
 '₹299',
 '₹329',
 '₹3,349',
 '₹214',
 '₹221',
 '₹379',
 '₹4,489',
 '₹329',
 '₹630',
 '₹649',
 '₹599',
 '₹699',
 '₹649',
 '₹295',
 '₹6,219',
 '₹599',
 '₹283',
 '₹236',
 '₹649',
 '₹299',
 '₹225',
 '₹224',
 '₹649',
 '₹229',
 '₹224',
 '₹209',
 '₹3,909',
 '₹474',
 '₹719',
 '₹195',
 '₹7,619',
 '₹265',
 '₹259',
 '₹1,099',
 '₹5,389',
 '₹229',
 '₹280',
 '₹219',
 '₹404',
 '₹639',
 '₹299',
 '₹329',
 '₹3,349',
 '₹214',
 '₹221',
 '₹379',
 '₹4,489',
 '₹329',
 '₹630',
 '₹649',
 '₹599',
 '₹699',
 '₹649',
 '₹295',
 '₹6,219',
 '₹599',
 '₹283',
 '₹236',
 '₹649',
 '₹299',
 '₹225',
 '₹224',
 '₹649',
 '₹229',
 '₹224',
 '₹209',
 '₹3,909',
 '₹474',
 '₹719',
 '₹195',
 '₹7,619',
 '₹265',
 '₹259',
 '₹1,099',
 '₹5,389',
 '₹229',
 '₹280',
 '₹219',
 '₹404',
 '₹639',
 '₹299',
 '₹329',
 '₹3,349',
 '₹214',
 '₹221',
 '₹379',
 '₹4,489',
 '₹329',
 '₹630',
 '₹649',
 '₹599',
 '₹699',
 '₹649',
 '₹295',
 '₹6,219',
 '₹599',
 '₹283',
 '₹236',
 '₹649',
 '₹299',
 '₹225',
 '₹224',
 '₹649',
 '₹229',
 '₹224',
 '₹209',
 '₹3,909',
 '₹474',
 '₹719',
 '₹195',
 '₹7,619',
 '₹265',
 '₹259',
 '₹1,099',
 '₹5,389',
 '₹229',
 '₹280',
 '₹219',
 '₹404',
 '₹639',
 '₹299',
 '₹329',
 '₹3,349',
 '₹214',
 '₹221',
 '₹379',
 '₹4,489',
 '₹329',
 '₹630',
 '₹649',
 '₹599',
 '₹699',
 '₹649',
 '₹295',
 '₹6,219',
 '₹599',
 '₹283',
 '₹236',
 '₹649',
 '₹299',
 '₹225',
 '₹224',
 '₹649',
 '₹229',
 '₹224',
 '₹209',
 '₹3,909',
 '₹474',
 '₹719',
 '₹195',
 '₹7,619',
 '₹265',
 '₹259',
 '₹1,099',
 '₹5,389',
 '₹229',
 '₹280',
 '₹219',
 '₹404',
 '₹639',
 '₹299',
 '₹329',
 '₹3,349',
 '₹214',
 '₹221',
 '₹379',
 '₹4,489',
 '₹329',
 '₹630',
 '₹649',
 '₹599',
 '₹699',
 '₹649',
 '₹295',
 '₹6,219',
 '₹599',
 '₹283',
 '₹236',
 '₹649',
 '₹299',
 '₹225',
 '₹224',
 '₹649',
 '₹229',
 '₹224',
 '₹209',
 '₹3,909',
 '₹474',
 '₹719',
 '₹195',
 '₹7,619',
 '₹265',
 '₹259',
 '₹1,099',
 '₹5,389',
 '₹229',
 '₹280',
 '₹219',
 '₹404',
 '₹639',
 '₹299',
 '₹329',
 '₹3,349',
 '₹214',
 '₹221',
 '₹379',
 '₹4,489']

In [ ]:
sujay2=price[40:140]
sujay2

In [52]:
df=pd.DataFrame({'Brand Name':sujay , 'Description':sujay1 , 'Price':sujay2})
df

       Brand Name                                        Description   Price
0    Singco India              UV Protection Aviator Sunglasses (57)    ₹329
1         Ray-Ban          UV Protection Rectangular Sunglasses (55)    ₹630
2        Fastrack      UV Protection, Others Aviator Sunglasses (32)    ₹649
3        Fastrack  UV Protection, Night Vision, Riding Glasses, O...    ₹599
4       Elligator  UV Protection, Mirrored, Night Vision, Riding ...    ₹699
..            ...                                                ...     ...
95  VINCENT CHASE                     Mirrored Round Sunglasses (55)    ₹649
96           hipe                UV Protection Round Sunglasses (58)    ₹229
97      Elligator      UV Protection, Mirrored Round Sunglasses (54)    ₹224
98      ROYAL SON             UV Protection Wayfarer Sunglasses (54)    ₹209
99      ROYAL SON              UV Protection Aviator Sunglasses (62)  ₹3,909

[100 rows x 3 columns]

**************************************************************************************************************************
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Pric

In [53]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [54]:
driver.get('https://www.flipkart.com/')

In [55]:
product=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [56]:
search=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [72]:
name=[]
description=[]
price=[]
discount=[]

In [60]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="b9f44c00-014d-4a38-b739-4802fad3ef41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="0ffd92d0-3fce-43e5-a5fd-112ddda5532f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="b0485908-60b3-4f7a-a1f6-7a586375ecff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="a00275f2-6bf9-4198-ae6a-10bbf5236a10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="25f1bd20-0504-45cf-81dd-9b06779b7f05")>]

In [61]:
for i in brand:
    bra=i.text
    brand_name.append(bra)
    
brand_name

['Singco India',
 'Ray-Ban',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'Mi',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'Ray-Ban',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'hipe',
 'Ray-Ban',
 'New Specs',
 'SUNBEE',
 'Lee Topper',
 'Ray-Ban',
 'DEIXELS',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Ray-Ban',
 'SRPM',
 'kingsunglasses',
 'maxa',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'HIPPON',
 'PIRASO',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'hipe',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'Ray-Ban',
 'Silver Kartz',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'SRPM',
 'kingsunglasses',
 'maxa',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'HIPPON',
 'PIRASO',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'hipe',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'Ray-Ban',
 'Silver Kartz',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'HIGHLANDER',
 'HIGHLANDER',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'ZF - ALFIYA',
 'ONECENTRE',
 'Magnolia',
 'SCATCHITE',
 'Ego by NS',
 'Labbin',
 'ASTEROID',
 'Layasa',
 'HOTSTYLE',
 'World Wear Footwear',
 'World Wear Footwear',
 'RapidBox',
 'RapidBox',
 'corsac',
 'Kraasa',
 'World Wear Footwear',
 'FEWROK',
 'World Wear Footwear',
 'ASTEROID',
 'BRUTON',
 'HIGHLANDER',
 'CLYMB',
 'BRUTON',
 'Robbie jones',
 'Arivo',
 'WHITE WALKERS',
 'PUMA',
 'BIRDE',
 'HIGHLANDER',
 'BRUTON',
 'EMPTILE',
 'WHITE WALKERS',
 'BRUTON',
 'HIGHLANDER',
 'HIGHLANDER',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'ZF - ALFIYA',
 'ONECENTRE',
 'Magnolia',
 'SCATCHITE',
 'Ego by NS',
 'Labbin',
 'ASTEROID',
 'Layasa',
 'HOTSTYLE',
 'World Wear Footwear',
 'World Wear Footwear',
 'RapidBox',
 'RapidBox',
 'corsac',
 'Kraasa',
 'World Wear Footwear',
 'FEWROK',
 'World Wear Footwear',
 'ASTEROID',
 'BRUTON',
 'HIGHLANDER',
 'CLYMB',
 'BRUTON',
 'Robbie jones',
 'Arivo',
 'WHITE WALKERS',
 'PUMA',
 'BIRDE',
 'HIGHLANDER',
 'BRUTON',
 'EMPTILE',
 'WHITE WALKERS',
 'BRUTON']

In [64]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [67]:
brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="b7e108dd-7f66-4820-832b-ce0b918fbf1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="831d79f8-d884-4636-8314-0b2daecd2b74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="ec69a626-7ac8-466d-b3d2-e4b00f3b7922")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="d1521b05-ba31-4d40-829a-5f7c47d35dd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="08419f78-e567-4487-af1c-bf876578b067")>]

In [68]:
for i in brand:
    bra=i.text
    brand_name.append(bra)
    
brand_name

['Singco India',
 'Ray-Ban',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'Mi',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'Lee Topper',
 'PIRASO',
 'SRPM',
 'Ray-Ban',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'hipe',
 'Ray-Ban',
 'New Specs',
 'SUNBEE',
 'Lee Topper',
 'Ray-Ban',
 'DEIXELS',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'New Specs',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Ray-Ban',
 'SRPM',
 'kingsunglasses',
 'maxa',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'HIPPON',
 'PIRASO',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'hipe',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'Ray-Ban',
 'Silver Kartz',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'SRPM',
 'kingsunglasses',
 'maxa',
 'Singco India',
 'hipe',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'HIPPON',
 'PIRASO',
 'Ray-Ban',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'VINCENT CHASE',
 'hipe',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'AISLIN',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'hipe',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'Ray-Ban',
 'Silver Kartz',
 'Fastrack',
 'New Specs',
 'ROZZETTA CRAFT',
 'HIGHLANDER',
 'HIGHLANDER',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'ZF - ALFIYA',
 'ONECENTRE',
 'Magnolia',
 'SCATCHITE',
 'Ego by NS',
 'Labbin',
 'ASTEROID',
 'Layasa',
 'HOTSTYLE',
 'World Wear Footwear',
 'World Wear Footwear',
 'RapidBox',
 'RapidBox',
 'corsac',
 'Kraasa',
 'World Wear Footwear',
 'FEWROK',
 'World Wear Footwear',
 'ASTEROID',
 'BRUTON',
 'HIGHLANDER',
 'CLYMB',
 'BRUTON',
 'Robbie jones',
 'Arivo',
 'WHITE WALKERS',
 'PUMA',
 'BIRDE',
 'HIGHLANDER',
 'BRUTON',
 'EMPTILE',
 'WHITE WALKERS',
 'BRUTON',
 'HIGHLANDER',
 'HIGHLANDER',
 'URBANBOX',
 'KWIK FIT',
 'corsac',
 'BRUTON',
 'BIRDE',
 'ZF - ALFIYA',
 'ONECENTRE',
 'Magnolia',
 'SCATCHITE',
 'Ego by NS',
 'Labbin',
 'ASTEROID',
 'Layasa',
 'HOTSTYLE',
 'World Wear Footwear',
 'World Wear Footwear',
 'RapidBox',
 'RapidBox',
 'corsac',
 'Kraasa',
 'World Wear Footwear',
 'FEWROK',
 'World Wear Footwear',
 'ASTEROID',
 'BRUTON',
 'HIGHLANDER',
 'CLYMB',
 'BRUTON',
 'Robbie jones',
 'Arivo',
 'WHITE WALKERS',
 'PUMA',
 'BIRDE',
 'HIGHLANDER',
 'BRUTON',
 'EMPTILE',
 'WHITE WALKERS',
 'BRUTON',
 'ROCKFIELD',
 'Jack Diamond',
 'ROCKFIELD',
 'DRESTA',
 'ADIDAS ORIGINALS',
 'CAMPUS',
 'U.S. POLO ASSN.',
 'Hotmess',
 'Chevit',
 'WOODLAND',
 'DUCATI',
 'Bacan',
 'PUMA',
 'Chevit',
 'Chevit',
 'BRUTON',
 'Rising Wolf',
 'WROGN',
 'PUMA',
 'KNIGHT WALKERS',
 'brideshoes',
 'WROGN',
 'Skechers',
 'ROCKFIELD',
 'Roadster',
 'PUMA',
 'BRUTON',
 'BRUTON',
 'PUMA',
 'PUMA',
 'Zixer',
 'ROCKFIELD',
 'Skechers',
 'PUMA',
 'Chevit',
 'hzisbo',
 'WROGN',
 'PUMA',
 'Bobb Swag',
 'HIGHLANDER']

In [70]:
sujay=brand_name[0:100]

In [ ]:
sujay

In [73]:
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="5c28cf12-2e80-43fa-8436-2428ff05c0ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="8d9e1226-93a5-4f70-8ca9-0cf3154399ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="9a1c6c36-11f9-4a6e-93f3-ff587e77e7eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="ee809547-bbab-4888-940d-e03cdd1a6795")>]

In [ ]:
for i in desc:
    des=i.text
    description.append(des)

description

In [75]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [76]:
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="bf632296-5def-437c-9668-b8f3e745e97b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="610a6a75-d3ed-46e9-967b-8bfb5e666c3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="4aeebc87-bf52-4a9d-a908-c4f078c2e2cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="bb7518b3-152d-43b0-8fcd-0e4d8b2be304")>]

In [ ]:
for i in desc:
    des=i.text
    description.append(des)

description

In [78]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [79]:
desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
desc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="0d7a4ea8-0277-4b55-8354-135cb0001197")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="cb2f90c0-48ce-4d09-9f2b-0d8618e58020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="b071b969-3e54-4d14-8aef-29a05fbb1099")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="6df14fc3-f3d4-411d-8795-fa6508665da4")>]

In [ ]:
for i in desc:
    des=i.text
    description.append(des)

description

In [82]:
sujay1=description[0:100]
sujay1

['Sneakers For Men',
 'Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Canvas shoes for Men Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'NEW FANCY ATTRACTIVE BOOT CASUAL FOR MEN Sneakers For M...',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Series 7 Sneakers For Men',
 '5013-Latest Collection Stylish & Trendy of casuals Snea...',
 '5011-Latest Collection Stylish & Trendy Casual Sneakers...',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Ultralight Genuine Synthetic Foam Black Shoes Sneakers ...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneaker Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Play one8 Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'all white heartbeat casual shoe Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'WATERPROOF-05cFULLBLACK Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Shark-41 Sneakers For Men',
 'STORMER LS Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Black Trendy Casual shoes for Men Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Perfect Combo Pack of 02 Pairs Casual Sneakers Outdoor ...',
 'Sneakers For Men',
 'casual shoe for men Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 '6616-ZF-BLACK-08 Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'WATERPROOF-05cFULLWHITE Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 '516 Trendy Star Perfect Sneakers For Men',
 'Match Star Perf Sneakers For Men',
 'Athleisure Sneakers For Men',
 'OCTAVIA Sneakers For Men',
 'Sneakers For Men',
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Athleisure Sneakers For Men',
 'FUTURE RIDER PLAY ON Sneakers For Men',
 '574 Sneakers For Men',
 'Men SM-406 Black Sneakers For Men',
 'Athleisure Sneakers For Men',
 'Synthetic Leather Sneakers For Men',
 'Sneakers For Men',
 'Present White Men Casual Sneakers Shoes for Men (White)...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'RC1975 022 Corporate Casuals For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men Sneakers For Men',
 'Sneakers For Men',
 'Rigel Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Combo Pack Of 3 Sneakers For Men',
 'men and boys Fashion black and red color Outdoor Canvas...',
 'Puma Turin II Sneakers For Men']

In [83]:
#preview page

preview=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
preview.click()

In [84]:
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="c0389591-3a15-4978-940d-08952b04972e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="a64bf042-129e-4bb6-b357-f99a8fee7503")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="e8b0ef95-59aa-4e27-a2a1-0d0f42c597ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="a31aafd5-6864-43aa-bc22-4e5b9cfa4b28")>]

In [86]:
for i in prices:
    pri=i.text
    price.append(pri)
    
price

['₹669',
 '₹945',
 '₹142',
 '₹349',
 '₹449',
 '₹299',
 '₹269',
 '₹489',
 '₹250',
 '₹351',
 '₹348',
 '₹630',
 '₹424',
 '₹449',
 '₹449',
 '₹379',
 '₹199',
 '₹199',
 '₹670',
 '₹945',
 '₹499',
 '₹366',
 '₹199',
 '₹519',
 '₹199',
 '₹449',
 '₹182',
 '₹669',
 '₹599',
 '₹249',
 '₹424',
 '₹399',
 '₹549',
 '₹303',
 '₹249',
 '₹945',
 '₹2,199',
 '₹549',
 '₹346',
 '₹449',
 '₹669',
 '₹945',
 '₹142',
 '₹349',
 '₹449',
 '₹299',
 '₹269',
 '₹489',
 '₹250',
 '₹351',
 '₹348',
 '₹630',
 '₹424',
 '₹449',
 '₹449',
 '₹379',
 '₹199',
 '₹199',
 '₹670',
 '₹945',
 '₹499',
 '₹366',
 '₹199',
 '₹519',
 '₹199',
 '₹449',
 '₹182',
 '₹669',
 '₹599',
 '₹249',
 '₹424',
 '₹399',
 '₹549',
 '₹303',
 '₹249',
 '₹945',
 '₹2,199',
 '₹549',
 '₹346',
 '₹449']

In [87]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [89]:
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="00cbce0a-9e37-40ef-812d-ee71ab8e0e05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="e3d26368-9a24-4fa4-8f22-b38e1e7a6712")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="f466941a-d0c1-4bee-ba57-b7a5808f0fed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="83f06f00-89fc-4c61-a7bf-445ecef8ac4e")>]

In [90]:
for i in prices:
    pri=i.text
    price.append(pri)
    
price

['₹669',
 '₹945',
 '₹142',
 '₹349',
 '₹449',
 '₹299',
 '₹269',
 '₹489',
 '₹250',
 '₹351',
 '₹348',
 '₹630',
 '₹424',
 '₹449',
 '₹449',
 '₹379',
 '₹199',
 '₹199',
 '₹670',
 '₹945',
 '₹499',
 '₹366',
 '₹199',
 '₹519',
 '₹199',
 '₹449',
 '₹182',
 '₹669',
 '₹599',
 '₹249',
 '₹424',
 '₹399',
 '₹549',
 '₹303',
 '₹249',
 '₹945',
 '₹2,199',
 '₹549',
 '₹346',
 '₹449',
 '₹669',
 '₹945',
 '₹142',
 '₹349',
 '₹449',
 '₹299',
 '₹269',
 '₹489',
 '₹250',
 '₹351',
 '₹348',
 '₹630',
 '₹424',
 '₹449',
 '₹449',
 '₹379',
 '₹199',
 '₹199',
 '₹670',
 '₹945',
 '₹499',
 '₹366',
 '₹199',
 '₹519',
 '₹199',
 '₹449',
 '₹182',
 '₹669',
 '₹599',
 '₹249',
 '₹424',
 '₹399',
 '₹549',
 '₹303',
 '₹249',
 '₹945',
 '₹2,199',
 '₹549',
 '₹346',
 '₹449',
 '₹424',
 '₹297',
 '₹249',
 '₹505',
 '₹399',
 '₹549',
 '₹489',
 '₹746',
 '₹349',
 '₹2,349',
 '₹366',
 '₹424',
 '₹385',
 '₹430',
 '₹449',
 '₹945',
 '₹420',
 '₹599',
 '₹544',
 '₹204',
 '₹399',
 '₹709',
 '₹549',
 '₹409',
 '₹489',
 '₹384',
 '₹374',
 '₹249',
 '₹424',
 '₹424',
 '₹549',
 '₹829',
 '₹424',
 '₹598',
 '₹599',
 '₹649',
 '₹249',
 '₹183',
 '₹236',
 '₹2,589']

In [91]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [92]:
prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prices[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="74250a59-1dd3-4567-b97c-2363523acfc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="9669a1c2-57b5-48dc-9cbd-7b94f12c50a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="ce989c78-c708-4be1-952a-a6447f1a4bdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="a1adf96b-e20a-4b17-97b2-ae12c7bdaa92")>]

In [93]:
for i in prices:
    pri=i.text
    price.append(pri)
    
price

['₹669',
 '₹945',
 '₹142',
 '₹349',
 '₹449',
 '₹299',
 '₹269',
 '₹489',
 '₹250',
 '₹351',
 '₹348',
 '₹630',
 '₹424',
 '₹449',
 '₹449',
 '₹379',
 '₹199',
 '₹199',
 '₹670',
 '₹945',
 '₹499',
 '₹366',
 '₹199',
 '₹519',
 '₹199',
 '₹449',
 '₹182',
 '₹669',
 '₹599',
 '₹249',
 '₹424',
 '₹399',
 '₹549',
 '₹303',
 '₹249',
 '₹945',
 '₹2,199',
 '₹549',
 '₹346',
 '₹449',
 '₹669',
 '₹945',
 '₹142',
 '₹349',
 '₹449',
 '₹299',
 '₹269',
 '₹489',
 '₹250',
 '₹351',
 '₹348',
 '₹630',
 '₹424',
 '₹449',
 '₹449',
 '₹379',
 '₹199',
 '₹199',
 '₹670',
 '₹945',
 '₹499',
 '₹366',
 '₹199',
 '₹519',
 '₹199',
 '₹449',
 '₹182',
 '₹669',
 '₹599',
 '₹249',
 '₹424',
 '₹399',
 '₹549',
 '₹303',
 '₹249',
 '₹945',
 '₹2,199',
 '₹549',
 '₹346',
 '₹449',
 '₹424',
 '₹297',
 '₹249',
 '₹505',
 '₹399',
 '₹549',
 '₹489',
 '₹746',
 '₹349',
 '₹2,349',
 '₹366',
 '₹424',
 '₹385',
 '₹430',
 '₹449',
 '₹945',
 '₹420',
 '₹599',
 '₹544',
 '₹204',
 '₹399',
 '₹709',
 '₹549',
 '₹409',
 '₹489',
 '₹384',
 '₹374',
 '₹249',
 '₹424',
 '₹424',
 '₹549',
 '₹829',
 '₹424',
 '₹598',
 '₹599',
 '₹649',
 '₹249',
 '₹183',
 '₹236',
 '₹2,589',
 '₹790',
 '₹620',
 '₹1,430',
 '₹379',
 '₹482',
 '₹399',
 '₹449',
 '₹499',
 '₹550',
 '₹3,309',
 '₹4,145',
 '₹175',
 '₹832',
 '₹479',
 '₹841',
 '₹175',
 '₹595',
 '₹599',
 '₹549',
 '₹1,329',
 '₹396',
 '₹180',
 '₹599',
 '₹1,089',
 '₹714',
 '₹399',
 '₹3,485',
 '₹746',
 '₹799',
 '₹2,287',
 '₹549',
 '₹618',
 '₹1,293',
 '₹1,786',
 '₹158',
 '₹670',
 '₹440',
 '₹1,514',
 '₹443',
 '₹669']

In [ ]:
sujay2=price[0:100]
sujay2

In [95]:
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="c900a2f2-7a69-41e1-b636-5da33687909f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="d2cdc171-b881-4ebb-8343-89b64bd3e700")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="05a18fde-79e7-4034-a70b-9bed761c0feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="13474298-a836-439c-b9e4-af6e96339466")>]

In [96]:
for i in disc:
    di=i.text
    discount.append(di)
    
discount

['44% off',
 '52% off',
 '85% off',
 '82% off',
 '70% off',
 '76% off',
 '73% off',
 '51% off',
 '60% off',
 '64% off',
 '65% off',
 '63% off',
 '57% off',
 '77% off',
 '55% off',
 '36% off',
 '60% off',
 '60% off',
 '32% off',
 '62% off',
 '66% off',
 '63% off',
 '60% off',
 '52% off',
 '60% off',
 '55% off',
 '69% off',
 '74% off',
 '60% off',
 '80% off',
 '57% off',
 '44% off',
 '54% off',
 '69% off',
 '80% off',
 '80% off',
 '51% off',
 '54% off',
 '65% off',
 '52% off']

In [97]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [98]:
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="ed459b59-4dba-4187-b7b8-7899dff89f73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="ab480be2-f55f-48bb-8e37-b7bdb695ff7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="48531a46-65c1-43e1-bd25-602d8cf84f4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="025505aa-122d-42d4-a2db-f1468172c2ec")>]

In [ ]:
for i in disc:
    di=i.text
    discount.append(di)
    
discount

In [100]:
next=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next.click()

In [101]:
disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
disc[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="2bfbc13b-e788-4856-a993-497872b0396f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="79d9f85a-240c-48e7-be74-c640de9cab11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="6141a418-2f8f-4304-8f02-7524ada90c79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0e036c88070b1824dc4652d8c147c6cf", element="4c311bef-612d-468f-895a-31680ce7250e")>]

In [102]:
for i in disc:
    di=i.text
    discount.append(di)
    
discount

['44% off',
 '52% off',
 '85% off',
 '82% off',
 '70% off',
 '76% off',
 '73% off',
 '51% off',
 '60% off',
 '64% off',
 '65% off',
 '63% off',
 '57% off',
 '77% off',
 '55% off',
 '36% off',
 '60% off',
 '60% off',
 '32% off',
 '62% off',
 '66% off',
 '63% off',
 '60% off',
 '52% off',
 '60% off',
 '55% off',
 '69% off',
 '74% off',
 '60% off',
 '80% off',
 '57% off',
 '44% off',
 '54% off',
 '69% off',
 '80% off',
 '80% off',
 '51% off',
 '54% off',
 '65% off',
 '52% off',
 '78% off',
 '70% off',
 '75% off',
 '61% off',
 '80% off',
 '45% off',
 '51% off',
 '62% off',
 '65% off',
 '41% off',
 '63% off',
 '64% off',
 '61% off',
 '56% off',
 '65% off',
 '52% off',
 '41% off',
 '40% off',
 '76% off',
 '59% off',
 '60% off',
 '21% off',
 '54% off',
 '59% off',
 '51% off',
 '61% off',
 '62% off',
 '80% off',
 '57% off',
 '57% off',
 '45% off',
 '48% off',
 '57% off',
 '60% off',
 '40% off',
 '59% off',
 '58% off',
 '63% off',
 '70% off',
 '52% off',
 '71% off',
 '37% off',
 '52% off',
 '76% off',
 '73% off',
 '60% off',
 '55% off',
 '58% off',
 '72% off',
 '52% off',
 '53% off',
 '32% off',
 '20% off',
 '52% off',
 '19% off',
 '22% off',
 '72% off',
 '40% off',
 '72% off',
 '31% off',
 '60% off',
 '63% off',
 '40% off',
 '15% off',
 '20% off',
 '60% off',
 '1% off',
 '50% off',
 '5% off',
 '36% off',
 '72% off',
 '53% off',
 '40% off',
 '68% off',
 '55% off',
 '70% off',
 '68% off',
 '77% off',
 '60% off']

In [ ]:
sujay3=discount[0:100]
sujay3

In [104]:
df=pd.DataFrame({'Brand Name':sujay , 'Details': sujay1 , 'Price': sujay2 , 'Discount': sujay3})
df

,Brand Name,Details,Price,Discount
0,Singco India,Sneakers For Men,₹669,44% off
1,Ray-Ban,Sneakers For Men,₹945,52% off
2,Fastrack,Kwik FIT casual sneaker shoes and partywear sh...,₹142,85% off
3,Fastrack,STYLISH MENS BLACK SNEAKER Sneakers For Men,₹349,82% off
4,Elligator,Canvas shoes for Men Sneakers For Men,₹449,70% off
...,...,...,...,...
95,VINCENT CHASE,Sneakers For Men,₹945,22% off
96,hipe,Sneakers Shoes For Men Black Sneakers For Men,₹420,72% off
97,Elligator,Combo Pack Of 3 Sneakers For Men,₹599,40% off
98,ROYAL SON,men and boys Fashion black and red color Outdo...,₹544,72% off
99,ROYAL SON,Puma Turin II Sneakers For Men,₹204,31% off

********************************************************************************************************************
Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [63]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [64]:
driver.get('https://www.myntra.com/shoes')

In [65]:
# filter the price
filter_price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
filter_price.click()

In [66]:
# filter color
filter_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
filter_color.click()

In [67]:
brands=[]
size=[]
prices=[]

In [68]:
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="8bd14a81-47c4-4590-ace1-6665d6797e77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="b9b43140-509d-4188-9871-b5aa91621f1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="ef58ac96-895c-40fa-a666-3211b4b66dab")>]

In [69]:
for i in brand:
    bra=i.text
    brands.append(bra)
    
brands

['U.S. Polo Assn.',
 'Red Tape',
 'Roadster',
 'Puma',
 'Newfeel By Decathlon',
 'HRX by Hrithik Roshan',
 'Killer',
 'Nike',
 'Puma',
 'ALDO',
 'U.S. Polo Assn.',
 'Red Tape',
 'Puma',
 'HIGHLANDER',
 'ADIDAS',
 'Nike',
 'HRX by Hrithik Roshan',
 'HRX by Hrithik Roshan',
 'U.S. Polo Assn.',
 'Red Tape',
 'Puma',
 'ASICS',
 'Killer',
 'TWIN TOES',
 'Red Tape',
 'H&M',
 'Lancer',
 'Puma',
 'Red Tape',
 'Red Tape',
 'Roadster',
 'ALDO',
 'Provogue',
 'HRX by Hrithik Roshan',
 'DEAS',
 'ASIAN',
 'Nike',
 'Red Tape',
 'U.S. Polo Assn.',
 'UNDER ARMOUR',
 'H&M',
 'Denill',
 'Sir Corbett',
 'ADIDAS',
 'Eego Italy',
 'DressBerry',
 'Nike',
 'ALDO',
 'U.S. Polo Assn.',
 'H&M']

In [71]:
price=driver.find_elements_by_xpath("//div[@class='product-price']")
price[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="a23f2aac-1463-43a0-ab9b-a6cc54cb9feb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="a81a2dc8-1d60-4ec2-aa96-9612e94d0d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="dbcd23ee-5ab4-41e6-a1d0-f05d6e50427b")>]

In [72]:
for i in price:
    pri=i.text
    prices.append(pri)
    
prices

['Rs. 2749Rs. 5499(50% OFF)',
 'Rs. 4945Rs. 5495(10% OFF)',
 'Rs. 2924Rs. 6499(55% OFF)',
 'Rs. 22999',
 'Rs. 1049Rs. 3499(70% OFF)',
 'Rs. 2249Rs. 2999(25% OFF)',
 'Rs. 3999Rs. 7999(50% OFF)',
 'Rs. 13999',
 'Rs. 899Rs. 4495(80% OFF)',
 'Rs. 1889Rs. 6299(70% OFF)',
 'Rs. 7999',
 'Rs. 987Rs. 2599(62% OFF)',
 'Rs. 12999',
 'Rs. 5436Rs. 6795(20% OFF)',
 'Rs. 2319Rs. 5799(60% OFF)',
 'Rs. 3999Rs. 4999(20% OFF)',
 'Rs. 3599Rs. 4999(28% OFF)',
 'Rs. 1359Rs. 1699(20% OFF)',
 'Rs. 599Rs. 999(40% OFF)',
 'Rs. 3599Rs. 4999(28% OFF)',
 'Rs. 5775Rs. 6795(15% OFF)',
 'Rs. 3596Rs. 4495(20% OFF)',
 'Rs. 1299',
 'Rs. 1559Rs. 3899(60% OFF)',
 'Rs. 880Rs. 4195(79% OFF)',
 'Rs. 1499Rs. 3495(Rs. 1996 OFF)',
 'Rs. 18999',
 'Rs. 4556Rs. 5695(20% OFF)',
 'Rs. 799Rs. 3999(80% OFF)',
 'Rs. 3299Rs. 5999(45% OFF)',
 'Rs. 3399Rs. 3999(15% OFF)',
 'Rs. 1719Rs. 4299(60% OFF)',
 'Rs. 1574Rs. 1749(10% OFF)',
 'Rs. 792Rs. 1495(47% OFF)',
 'Rs. 1469Rs. 4899(70% OFF)',
 'Rs. 958Rs. 2995(68% OFF)',
 'Rs. 15999',
 'Rs. 2999',
 'Rs. 1033Rs. 1099(6% OFF)',
 'Rs. 2799Rs. 3999(30% OFF)',
 'Rs. 1959Rs. 2799(30% OFF)',
 'Rs. 15999',
 'Rs. 3009Rs. 4299(30% OFF)',
 'Rs. 895Rs. 1995(Rs. 1100 OFF)',
 'Rs. 997Rs. 1995(50% OFF)',
 'Rs. 4796Rs. 5995(20% OFF)',
 'Rs. 1849Rs. 3699(50% OFF)',
 'Rs. 1319Rs. 5999(78% OFF)',
 'Rs. 879Rs. 4395(80% OFF)',
 'Rs. 3499']

In [73]:
sizes=driver.find_elements_by_xpath("//h4[@class='product-product']")
sizes[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="4b6e5207-21a8-40a8-bc3b-a0132d072694")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="6576c731-7621-4075-bf57-4093d9902323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d8e4dd3abd36414d7bbef479ed8ca0b", element="53f76eaa-f46b-4287-89c1-b21a35032faa")>]

In [74]:
for i in sizes:
    si=i.text
    size.append(si)
    
size

['Men Running Shoes',
 'Men MC Training Shoes',
 'Men HYBRID Fuego Running Shoes',
 'Men Leather Horsebit Loafers',
 'Kids Sports Shoes',
 'Men Solid Running Shoes',
 'Hybrid NX Ozone Running Shoes',
 'Men Woven Design Sneakers',
 'Men Black Solid Formal Debys',
 'Men Walking Shoes',
 'Men Vantage 2 Running Shoes',
 'Men Trekking Shoes',
 'Men Leather Driving Shoes',
 'Men Vapor Lite HC Tennis Shoes',
 'Men Out Back Outdoor Shoes',
 'ULTRA FLEX 2.0 - LITEWILDE Run',
 'Men Solid Driving Shoes',
 'Men Running Shoes',
 'Women Mules Flats',
 'Men Solid Driving Shoes',
 'Unisex RE II Basketball Shoes',
 'LEGEND ESSENTIAL Training Shoe',
 'Men Solid Formal Oxfords',
 'Women Walk Ride Running Shoes',
 'Men Casual Sneakers',
 'Kids Revolution 4 Running',
 'Men Textured Leather Loafers',
 'Men Zoom Court Lite 3 Tennis',
 'Men Walking Shoes',
 'Men ELITE FLEX CLEAR Sneakers',
 'Women Walking Shoes',
 'Men Fly Sneaker',
 'Men Running Sports Shoes',
 'Women Walking Shoes',
 'Men Walking Shoes',
 'Men Solid Formal Oxfords',
 'Men Leather Loafers',
 'Unisex Kent 2.0 IDP Sneakers',
 'Men Running Shoes',
 'Men Dart IDP Sneakers',
 'Men Running Shoes',
 'Men Leather Loafers',
 'Men Flydoot Running Shoes',
 'Women Colourblocked Sneakers',
 'Women Snakeskin Textured Heels',
 'Women Renew In-Season Training',
 'Men Chunky Sneakers',
 'Men Lightweight Flat Boots',
 'Men Solid Formal Loafers',
 'Men Strike Textured Sneakers']

In [77]:
df=pd.DataFrame({'Brand Name': brands , 'Price & Discount':prices , 'Details': size})
df

,Brand Name,Price & Discount,Details
0,U.S. Polo Assn.,Rs. 2749Rs. 5499(50% OFF),Men Running Shoes
1,Red Tape,Rs. 4945Rs. 5495(10% OFF),Men MC Training Shoes
2,Roadster,Rs. 2924Rs. 6499(55% OFF),Men HYBRID Fuego Running Shoes
3,Puma,Rs. 22999,Men Leather Horsebit Loafers
4,Newfeel By Decathlon,Rs. 1049Rs. 3499(70% OFF),Kids Sports Shoes
5,HRX by Hrithik Roshan,Rs. 2249Rs. 2999(25% OFF),Men Solid Running Shoes
6,Killer,Rs. 3999Rs. 7999(50% OFF),Hybrid NX Ozone Running Shoes
7,Nike,Rs. 13999,Men Woven Design Sneakers
8,Puma,Rs. 899Rs. 4495(80% OFF),Men Black Solid Formal Debys
9,ALDO,Rs. 1889Rs. 6299(70% OFF),Men Walking Shoes
10,U.S. Polo Assn.,Rs. 7999,Men Vantage 2 Running Shoes
11,Red Tape,Rs. 987Rs. 2599(62% OFF),Men Trekking Shoes
12,Puma,Rs. 12999,Men Leather Driving Shoes
13,HIGHLANDER,Rs. 5436Rs. 6795(20% OFF),Men Vapor Lite HC Tennis Shoes
14,ADIDAS,Rs. 2319Rs. 5799(60% OFF),Men Out Back Outdoor Shoes
15,Nike,Rs. 3999Rs. 4999(20% OFF),ULTRA FLEX 2.0 - LITEWILDE Run
16,HRX by Hrithik Roshan,Rs. 3599Rs. 4999(28% OFF),Men Solid Driving Shoes
17,HRX by Hrithik Roshan,Rs. 1359Rs. 1699(20% OFF),Men Running Shoes
18,U.S. Polo Assn.,Rs. 599Rs. 999(40% OFF),Women Mules Flats
19,Red Tape,Rs. 3599Rs. 4999(28% OFF),Men Solid Driving Shoes
20,Puma,Rs. 5775Rs. 6795(15% OFF),Unisex RE II Basketball Shoes
21,ASICS,Rs. 3596Rs. 4495(20% OFF),LEGEND ESSENTIAL Training Shoe
22,Killer,Rs. 1299,Men Solid Formal Oxfords
23,TWIN TOES,Rs. 1559Rs. 3899(60% OFF),Women Walk Ride Running Shoes
24,Red Tape,Rs. 880Rs. 4195(79% OFF),Men Casual Sneakers
25,H&M,Rs. 1499Rs. 3495(Rs. 1996 OFF),Kids Revolution 4 Running
26,Lancer,Rs. 18999,Men Textured Leather Loafers
27,Puma,Rs. 4556Rs. 5695(20% OFF),Men Zoom Court Lite 3 Tennis
28,Red Tape,Rs. 799Rs. 3999(80% OFF),Men Walking Shoes
29,Red Tape,Rs. 3299Rs. 5999(45% OFF),Men ELITE FLEX CLEAR Sneakers
30,Roadster,Rs. 3399Rs. 3999(15% OFF),Women Walking Shoes
31,ALDO,Rs. 1719Rs. 4299(60% OFF),Men Fly Sneaker
32,Provogue,Rs. 1574Rs. 1749(10% OFF),Men Running Sports Shoes
33,HRX by Hrithik Roshan,Rs. 792Rs. 1495(47% OFF),Women Walking Shoes
34,DEAS,Rs. 1469Rs. 4899(70% OFF),Men Walking Shoes
35,ASIAN,Rs. 958Rs. 2995(68% OFF),Men Solid Formal Oxfords
36,Nike,Rs. 15999,Men Leather Loafers
37,Red Tape,Rs. 2999,Unisex Kent 2.0 IDP Sneakers
38,U.S. Polo Assn.,Rs. 1033Rs. 1099(6% OFF),Men Running Shoes
39,UNDER ARMOUR,Rs. 2799Rs. 3999(30% OFF),Men Dart IDP Sneakers
40,H&M,Rs. 1959Rs. 2799(30% OFF),Men Running Shoes
41,Denill,Rs. 15999,Men Leather Loafers
42,Sir Corbett,Rs. 3009Rs. 4299(30% OFF),Men Flydoot Running Shoes
43,ADIDAS,Rs. 895Rs. 1995(Rs. 1100 OFF),Women Colourblocked Sneakers
44,Eego Italy,Rs. 997Rs. 1995(50% OFF),Women Snakeskin Textured Heels
45,DressBerry,Rs. 4796Rs. 5995(20% OFF),Women Renew In-Season Training
46,Nike,Rs. 1849Rs. 3699(50% OFF),Men Chunky Sneakers
47,ALDO,Rs. 1319Rs. 5999(78% OFF),Men Lightweight Flat Boots
48,U.S. Polo Assn.,Rs. 879Rs. 4395(80% OFF),Men Solid Formal Loafers
49,H&M,Rs. 3499,Men Strike Textured Sneakers

**************************************************************************************************************************8
8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [78]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [79]:
driver.get('https://www.amazon.in/')

In [80]:
name=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
name.send_keys('laptop')

In [81]:
search=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [83]:
#apply filter intel
intel=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[1]/li[3]/span/a/div/label/i')
intel.click()

In [84]:
# intel core i7
i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[5]/span/a/div/label/i')
i7.click()

In [85]:
title=[]
rating=[]
price=[]

In [86]:
product=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
product[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="03b87db8-a387-473c-ab7a-dc2a8e1b6232")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="ed080b37-3c01-4d91-80ef-5e08e932c6d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="29d2ad9e-d247-4ec0-8674-eb8b65435699")>]

In [87]:
for i in product:
    pro=i.text
    title.append(pro)
    
title

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 EvoTM  39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.55Kg), NP750XED-KC2IN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Dell 15 (2021) Inspiron 5518 Intel Thunderbolt 4.0 i7-11390H 15.6 Inches Notebook Computer (16GB, 1TB SSD, Windows 11 + MS Office 21, NVIDIA MX450 2GB, FHD Display, Silver Color, FPR + Backlit KB)',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 39.62 cm (15.6") FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i7-12700H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZM-K8035WS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 16 GB Ram & 512 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 "Dell Alienware x15 R1 2021 i7-11800H 16GB, Intel 1TB SSD, Windows 11 + MSO'21, NVIDIA RTX 3060 6GB, 15.6 inches FHD 300 nits 360Hz + Alien FX, Lunar Light Gaming Laptop (D569932WIN9, 2.27 kgs)",
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 16 GB Ram & 1TB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 1TB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Lenovo Legion 5 11th Gen Intel i7-11800H 15.6" (39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Win11/Office 2021/NVIDIA RTX 3050Ti 4GB/120Hz/2.4Kg), 82JK007XIN + Legion Headset & 8K DPI Mouse',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 256 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 256 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 128 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 1TB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W']

In [90]:
sujay=title[0:10]
sujay

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 EvoTM  39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.55Kg), NP750XED-KC2IN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)']

In [91]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
prices[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="1428b37c-ed3f-4581-92d3-4b3bd00481b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="6823096e-3297-4b00-afc4-d583230ff9c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="de84300a-a619-4981-83d3-bc34c5d2d7f9")>]

In [92]:
for i in prices:
    pri=i.text
    price.append(pri)
price

['1,69,990',
 '76,490',
 '79,990',
 '57,490',
 '89,990',
 '86,990',
 '89,990',
 '86,990',
 '85,890',
 '93,999',
 '84,590',
 '97,670',
 '73,990',
 '96,990',
 '89,990',
 '1,79,990',
 '92,990',
 '44,940',
 '47,034',
 '1,09,990',
 '2,66,921',
 '54,990',
 '48,014',
 '1,14,488',
 '39,990',
 '42,990',
 '41,154',
 '43,990',
 '1,09,990',
 '1,16,990']

In [95]:
sujay1=price[0:10]
sujay1

['1,69,990',
 '76,490',
 '79,990',
 '57,490',
 '89,990',
 '86,990',
 '89,990',
 '86,990',
 '85,890',
 '93,999']

In [96]:
ratings=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
ratings[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="7a1e74ca-93dd-4ae3-b5b4-defe83bd834d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="93343bbc-7b91-4150-aa23-6b2c0759a110")>]

In [97]:
for i in ratings:
    rate=i.text
    rating.append(rate)
rating

['6',
 '2',
 '65',
 '4',
 '2',
 '7',
 '39',
 '1',
 '152',
 '49',
 '16',
 '13',
 '13',
 '4',
 '3',
 '13',
 '10',
 '3',
 '3',
 '5']

In [99]:
sujay2=rating[0:10]
sujay2

['6', '2', '65', '4', '2', '7', '39', '1', '152', '49']

In [112]:
df=pd.DataFrame({'Product Name': sujay , 'Price': sujay1 , 'Rating': sujay2})
df

                                        Product Name     Price Rating
0  Acer Predator Helios 300 11th Gen Intel Core i...  1,69,990      6
1  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...    76,490      2
2  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...    79,990     65
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490      4
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990      2
5  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...    86,990      7
6  HP Pavilion 11th Gen Intel Core i7 Processor 1...    89,990     39
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990      1
8  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    85,890    152
9  LG Gram Intel Evo 11th Gen Core i7 17 inches U...    93,999     49

In [100]:
# filter for the intel core i9 

i9=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[6]/span/a/div/label/i')
i9.click()

In [113]:
product=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
product[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="5b1b29fc-8f38-4d65-86f8-0b5ddfa662f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="1af0e419-0ecb-4cb0-94ae-b3aacf57b238")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="bd12a265-22ac-4812-96b8-5e816bfcae95")>]

In [114]:
for i in product:
    pro=i.text
    title.append(pro)
    
title

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 EvoTM  39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office Home & Student 2021/Graphite/1.55Kg), NP750XED-KC2IN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'HP Pavilion 14, 11th Gen Intel Core i7-16GB RAM/1TB SSD 14 inch(35.6 cm) Laptop/Intel Iris Xe Graphics/Backlit Keyboard/Alexa/B&O Audio/Fast Charge/FPR/Win 11/MS Office, 14-dv1029TU,Natural Silver',
 'HP Pavilion 11th Gen Intel Core i7 Processor 15.6 inches FHD Gaming Laptop (16GB/512GB SSD/Windows 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23Kg), 15-dk2096TX',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'Dell 15 (2021) Inspiron 5518 Intel Thunderbolt 4.0 i7-11390H 15.6 Inches Notebook Computer (16GB, 1TB SSD, Windows 11 + MS Office 21, NVIDIA MX450 2GB, FHD Display, Silver Color, FPR + Backlit KB)',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 39.62 cm (15.6") FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, GeForce RTX 3050 4GB Graphics, Gaming Laptop (8GB/512GB SSD/Windows 10/Eclipse Gray/2.3 Kg), FX566HC-HN093T',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i7-12700H 12th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZM-K8035WS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 16 GB Ram & 512 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 "Dell Alienware x15 R1 2021 i7-11800H 16GB, Intel 1TB SSD, Windows 11 + MSO'21, NVIDIA RTX 3060 6GB, 15.6 inches FHD 300 nits 360Hz + Alien FX, Lunar Light Gaming Laptop (D569932WIN9, 2.27 kgs)",
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 16 GB Ram & 1TB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 1TB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Lenovo Legion 5 11th Gen Intel i7-11800H 15.6" (39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/Win11/Office 2021/NVIDIA RTX 3050Ti 4GB/120Hz/2.4Kg), 82JK007XIN + Legion Headset & 8K DPI Mouse',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 256 GB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 256 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 8 GB Ram & 128 GB SSD, 14.1 inches Touch Screeen (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 '(Renewed) Dell Latitude Laptop E7480 Intel Core i7 - 7600u Processor 7th Gen, 4 GB Ram & 1TB SSD, 14.1 Inches (Ultra Slim & Feather Light 1.37KG) Notebook Computer',
 'Acer Nitro 5 Gaming Laptop/12th Gen Intel Core i7-12700H Processor 14core/15.6"(39.6cm) FHD 144Hz Display(16GB/512GB SSD/1TB HDD/RTX 3050Ti Graphics/Windows 11/RGB),AN515-58 + Xbox Game Pass Ultimate',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'ASUS ROG Strix Scar 15 (2022), Intel Core i9-12900H 12th Gen 15.6 inches 2K WQHD 240Hz/3ms Gaming Laptop (32GB/1TB SSD/RTX 3080 Ti 16GB Graphics/Windows 11 Home/Office 2021/Black/2.3 Kg)',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'Predator Helios 500 Gaming Laptop (11th Gen Intel Core I9/17.3" 4K UHD Display/64GB DDR4 RAM/2TB SSD/1TB HDD/RTX 3080 Graphics/Per Key RGB Backlit Keyboard) | PH517-52',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse',
 'MSI Gaming Stealth GS66, Intel 12th Gen. i9-12900H, 15.6" QHD 240Hz Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 11 Home/Nvidia RTX 3070Ti 8GB GDDR 6/ Black/2.1Kg), 12UGS-038IN',
 'HP Zbook - Intel i9 14 inch(35.6 cm)FHD, Thin & Light ,Touchscreen, Anti-Glare(32GB RAM/1TB M.2 SSD/NVIDIA T1200 4GB Graphics/Win10 Pro/IR Camera/Audio by B&O- HP Power G8 Mobile Workstation',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'ASUS ROG Strix Scar 15 (2022), Intel Core i9-12900H 12th Gen 15.6 inches 2K WQHD 240Hz/3ms Gaming Laptop (32GB/1TB SSD/RTX 3080 Ti 16GB Graphics/Windows 11 Home/Office 2021/Black/2.3 Kg)',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'Predator Helios 500 Gaming Laptop (11th Gen Intel Core I9/17.3" 4K UHD Display/64GB DDR4 RAM/2TB SSD/1TB HDD/RTX 3080 Graphics/Per Key RGB Backlit Keyboard) | PH517-52',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse',
 'MSI Gaming Stealth GS66, Intel 12th Gen. i9-12900H, 15.6" QHD 240Hz Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 11 Home/Nvidia RTX 3070Ti 8GB GDDR 6/ Black/2.1Kg), 12UGS-038IN',
 'HP Zbook - Intel i9 14 inch(35.6 cm)FHD, Thin & Light ,Touchscreen, Anti-Glare(32GB RAM/1TB M.2 SSD/NVIDIA T1200 4GB Graphics/Win10 Pro/IR Camera/Audio by B&O- HP Power G8 Mobile Workstation']

In [127]:
sujay3=title[30:40]
sujay3

['Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Gaming Laptop (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/360 Hz, Black, 2.3 kg) PH315-54',
 'ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 cms) 2K QHD 165Hz/3ms, Core i9-12900H 12th Gen, RTX 3080 Ti 16GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2 Kg), GU603ZX-K8024WS',
 'ASUS ROG Strix Scar 15 (2022), Intel Core i9-12900H 12th Gen 15.6 inches 2K WQHD 240Hz/3ms Gaming Laptop (32GB/1TB SSD/RTX 3080 Ti 16GB Graphics/Windows 11 Home/Office 2021/Black/2.3 Kg)',
 'ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.62 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.3 Kg), G533ZW-LN106WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SSD/15.6 inch(39.6 cm) 400 nits,4K AMOLED Touch, TUV + Win 11 Pro 64/NVIDIA GeForce RTX 3060 6GB Graphics/Alexa/FPR /B&O/2.14kg,15-ep1087TX, Natural Silver',
 'ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cms) 2K WQHD 240Hz/3ms, Intel Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/1TB SSD/Win 11/Office 2021/Black/2.3 kg) G533ZW-LN136WS',
 'Predator Helios 500 Gaming Laptop (11th Gen Intel Core I9/17.3" 4K UHD Display/64GB DDR4 RAM/2TB SSD/1TB HDD/RTX 3080 Graphics/Per Key RGB Backlit Keyboard) | PH517-52',
 'Dell G7 7500 15.6inch FHD 300 Hz Display Gaming Laptop (10th Gen i9-10885H / 16 GB / 1TB SSD / NVIDIA RTX 2070 8GB Graphics / 1Yr Premium Warranty / Win 10 + MS Office H&S 2019) D560233WIN9B, Black']

In [118]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
prices[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="64b84768-5625-41eb-bb8e-fc1b9ff14a3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="95074a57-44cc-43c4-843d-f664c20238a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="ec89fe81-5ea6-4f91-b77a-ef792b0f903e")>]

In [119]:
for i in prices:
    pri=i.text
    price.append(pri)
price

['1,69,990',
 '76,490',
 '79,990',
 '57,490',
 '89,990',
 '86,990',
 '89,990',
 '86,990',
 '85,890',
 '93,999',
 '84,590',
 '97,670',
 '73,990',
 '96,990',
 '89,990',
 '1,79,990',
 '92,990',
 '44,940',
 '47,034',
 '1,09,990',
 '2,66,921',
 '54,990',
 '48,014',
 '1,14,488',
 '39,990',
 '42,990',
 '41,154',
 '43,990',
 '1,09,990',
 '1,16,990',
 '1,44,990',
 '1,44,990',
 '3,31,990',
 '3,01,499',
 '2,85,390',
 '1,77,885',
 '2,02,990',
 '2,32,399',
 '3,79,990',
 '2,05,990',
 '1,38,000',
 '3,29,990',
 '2,14,315',
 '1,44,990',
 '1,44,990',
 '3,31,990',
 '3,01,499',
 '2,85,390',
 '1,77,885',
 '2,02,990',
 '2,32,399',
 '3,79,990',
 '2,05,990',
 '1,38,000',
 '3,29,990',
 '2,14,315',
 '1,44,990',
 '1,44,990',
 '3,31,990',
 '3,01,499',
 '2,85,390',
 '1,77,885',
 '2,02,990',
 '2,32,399',
 '3,79,990',
 '2,05,990',
 '1,38,000',
 '3,29,990',
 '2,14,315']

In [123]:
sujay4=price[30:40]
sujay4

['1,44,990',
 '1,44,990',
 '3,31,990',
 '3,01,499',
 '2,85,390',
 '1,77,885',
 '2,02,990',
 '2,32,399',
 '3,79,990',
 '2,05,990']

In [107]:
ratings=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
ratings[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="88a4c4a9-5bb4-4ff3-bce0-c96279e23291")>,
 <selenium.webdriver.remote.webelement.WebElement (session="605f0ba2aba63f5635f1db2678c2c094", element="c8816848-2d10-4b6f-9bc5-fc6b69241553")>]

In [108]:
for i in ratings:
    rate=i.text
    rating.append(rate)
rating

['6',
 '2',
 '65',
 '4',
 '2',
 '7',
 '39',
 '1',
 '152',
 '49',
 '16',
 '13',
 '13',
 '4',
 '3',
 '13',
 '10',
 '3',
 '3',
 '5',
 '6',
 '6',
 '1',
 '2',
 '11',
 '6',
 '1',
 '2']

In [130]:
sujay5=rating[10:20]
sujay5

['16', '13', '13', '4', '3', '13', '10', '3', '3', '5']

In [131]:
df1=pd.DataFrame({'Product Name': sujay3 , 'Price': sujay4 , 'Rating': sujay5})
df1

                                        Product Name     Price Rating
0  Acer Predator Helios 300 11th Gen Intel Core i...  1,44,990     16
1  Acer Predator Helios 300 11th Gen Intel Core i...  1,44,990     13
2  ASUS ROG Zephyrus M16 (2022), 16-inch (40.64 c...  3,31,990     13
3  ASUS ROG Strix Scar 15 (2022), Intel Core i9-1...  3,01,499      4
4  ASUS ROG Strix Scar 15 (2022), 15.6-inch (39.6...  2,85,390      3
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,77,885     13
6  HP Envy 15- 11th Gen Intel Core i9/32GB/1TB SS...  2,02,990     10
7  ASUS ROG Strix Scar 15 (2022), 15.6" (39.62 cm...  2,32,399      3
8  Predator Helios 500 Gaming Laptop (11th Gen In...  3,79,990      3
9  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,05,990      5

***********************************************************************************************************************
Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

In [3]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [4]:
driver.get('https://www.ambitionbox.com/')

In [5]:
# select the job 
job=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [6]:
# type the data
data=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
data.send_keys('Data scientist')

In [7]:
# search button
search=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [8]:
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [9]:
no=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
no.send_keys('Noida')

In [10]:
company_name=[]
post_time=[]
rating=[]

In [19]:
name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
name[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="7dffa60f-5305-4674-a96c-c4f3f5eea430")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="4ab7665c-cd08-4ed9-bc98-1af4c1b7f2a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="130d9d7b-a60c-42dd-9021-4f0d9b854c6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="149d02e4-c268-4ab4-8aba-4e9bac541638")>]

In [20]:
for i in name:
    na=i.text
    company_name.append(na)
    
company_name

['AVP / VP Data Scientist (Model Validation)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Advanced Analytics',
 'Service Delivery _ OSS _ Data Scientist',
 'J.P. Morgan Services India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Ericsson India Global Services Pvt. Ltd.']

In [22]:
company=company_name[10:20]
company

['J.P. Morgan Services India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Ericsson India Global Services Pvt. Ltd.']

In [13]:
post=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
post[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="9054f449-17f6-4671-b270-d0be08cdb2b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="5b342dad-fc4e-4af5-ae17-de2dca5a963b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="fc0d8506-c20c-4962-8f3a-eebadf897135")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="6e4310fb-f38b-4b5f-b30c-84d765c5d46e")>]

In [14]:
for i in post:
    po=i.text
    post_time.append(po)
    
post_time[0:10]

['2d ago',
 '2d ago',
 '2d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '3d ago',
 '7d ago']

In [15]:
rate=driver.find_elements_by_xpath("//span[@class='body-small']")
rate[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="7695b419-bd7a-4557-986d-ccd12d1eb01e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="be7bfbd7-16ee-4527-8bd7-dbbb519f1ce9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="422ec61e-45ff-40df-b964-ba4053ddf872")>,
 <selenium.webdriver.remote.webelement.WebElement (session="39ba2261d2d06308cd6aab8795755fee", element="5008f68b-aace-4306-9072-67e43f25d43e")>]

In [16]:
for i in rate:
    rat=i.text
    rating.append(rat)
    
rating[0:10]

['4.2', '4.1', '4.1', '4.1', '4.1', '4.1', '4.1', '4.1', '4.1', '4.3']

In [17]:
rate=rating[0:10]

In [23]:
df=pd.DataFrame({'Company Name': company , 'Date Ago': post_time , 'Rating': rate})
df[0:9]

                                 Company Name Date Ago Rating
0  J.P. Morgan Services India Private Limited   2d ago    4.2
1                      IBM India Pvt. Limited   2d ago    4.1
2                      IBM India Pvt. Limited   2d ago    4.1
3                      IBM India Pvt. Limited   3d ago    4.1
4                      IBM India Pvt. Limited   3d ago    4.1
5                      IBM India Pvt. Limited   3d ago    4.1
6                      IBM India Pvt. Limited   3d ago    4.1
7                      IBM India Pvt. Limited   3d ago    4.1
8                      IBM India Pvt. Limited   3d ago    4.1

*****************************************************************************************************************************
Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [91]:
driver = webdriver.Chrome(r"D:\python\chromedriver.exe")
driver

In [92]:
driver.get('https://www.ambitionbox.com/')

In [93]:
# select salary
salary=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary.click()

In [94]:
# select job
job=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job.send_keys('Data Scientist')

In [95]:
company_name=[]
min=[]
max=[]
average=[]
exprience=[]

In [96]:
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
exp

[<selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="09243c4b-d2c6-4d12-b7b1-8fa09e09b887")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="831ce59a-a6e4-4a0f-a987-d5bbaa8a4f5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="55a7792a-87a0-4188-a706-874268cf2885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="51c429a2-967f-45e4-a664-98e4056c4a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="21a7d11b-4249-4c00-b6cd-c34f44d110e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="00a40134-8098-4390-8a59-5a4c4fe5567b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="d3d6539f-de33-4a45-be5f-66e0aeb7d092")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="48e91efb-7372-4f07-ba99-47611b1f9ebc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="5afda165-14ad-4617-a5cf-2829e5bcf61b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="bf2ca286-6fc9-40c1-ac9b-7add31507fb1")>]

In [97]:
for i in exp:
    ex=i.text
    exprience.append(ex)
    
exprience

['Software Engineer\n . \n1 yr exp',
 'Software Engineer\n . \n3 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2 yrs exp',
 'Software Engineer\n . \n2-4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n2-4 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp',
 'Software Engineer\n . \n1-2 yrs exp',
 'Software Engineer\n . \n1-4 yrs exp']

In [98]:
sujay=exprience[20:30]
sujay

[]

In [99]:
minimum=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
minimum

[<selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="c39d0f50-0c2a-4718-8f8d-ac1ad6ceea20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="015f075a-7d3f-41aa-aeec-26a94865df28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="12dacf27-3331-433a-b73f-8c3d54fbad4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="19e6c930-29ff-422c-972a-7b0b1615e008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="a45d8e75-df2d-4463-bf6a-6d343311b600")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="28e24ee9-2cb8-4061-be44-cd544374aec1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="a2a67f24-84fe-48d2-9e2a-bda35be6a51a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="3b6d43bb-817e-4093-bc41-47a6cfa7fee6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="24bae2d6-110b-4b2a-8990-0b1a2eec2978")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="283aa627-b0b5-45aa-b9e3-114f8f04a6df")>]

In [100]:
for i in minimum:
    mini=i.text
    min.append(mini)
    
min

['₹ 10.4L',
 '₹ 10.7L',
 '₹ 13.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 7.5L',
 '₹ 13.0L',
 '₹ 11.0L',
 '₹ 12.0L',
 '₹ 8.0L']

In [101]:
maximum=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
maximum[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="b20c55ee-16bd-4fdf-8f6f-6efe21273252")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="e1d46234-1170-4e3d-805d-67c971a99035")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="0d6b8d7c-ef4c-4f38-ad2d-b298ca6fea17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="861792f9-06bb-4e41-99d5-5df4d18a73ff")>]

In [102]:
for i in maximum:
    maxi=i.text
    max.append(maxi)
    
max

['₹ 40.0L',
 '₹ 38.0L',
 '₹ 45.0L',
 '₹ 34.0L',
 '₹ 33.0L',
 '₹ 31.0L',
 '₹ 26.3L',
 '₹ 32.5L',
 '₹ 30.0L',
 '₹ 43.0L']

In [103]:
average_salary=driver.find_elements_by_xpath("//p[@class='averageCtc']")
average_salary[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="481a904a-dd15-4ccc-bec9-65d1c43ee83f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="c1eae50a-0efc-4b63-acce-d89f91ecbaf3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="5bc70306-1db0-4bc2-babc-539769836f49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="90add39c-35f9-4bcf-b840-878f774c97ab")>]

In [104]:
for i in average_salary:
    salary=i.text
    average.append(salary)
    
average

['₹ 26.9L',
 '₹ 24.7L',
 '₹ 23.7L',
 '₹ 22.3L',
 '₹ 21.0L',
 '₹ 20.3L',
 '₹ 20.2L',
 '₹ 19.9L',
 '₹ 19.8L',
 '₹ 19.7L']

In [105]:
name=driver.find_elements_by_xpath("//div[@class='name']")
name

[<selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="d452685c-ab1f-4a65-8768-e5c73b25e58d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="7599b2b9-1b8b-485b-bb17-3c4ffcfc7e10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="7b0b0448-2a13-49f6-a487-242da45dea72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="a5a4ea1c-6a40-436d-843d-3e21629ce613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="a0891bb8-e11e-487c-bbe4-305a31765121")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="723a1951-960a-4551-8f62-a1b6dfb143e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="fd0b635d-9623-44ca-ae95-a3a2b0b0a8e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="7c03b0da-3856-458e-837e-a9dc8e878fce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="5cbd6a13-096d-4c02-8276-50da0e3829f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="db396ab85d92862ad117a84df3576980", element="0558aaa9-791e-4542-a5b4-1edc7ed43909")>]

In [106]:
for i in name:
    na=i.text.replace('\nbased on', ' ')
    company_name.append(na)
    
company_name

['Google  11 salaries',
 'Arista Networks  13 salaries',
 'Microsoft Corporation  253 salaries',
 'Goldman Sachs  16 salaries',
 'Tekion  32 salaries',
 'Flipkart  61 salaries',
 'Servicenow Software Development India  54 salaries',
 'Walmart  81 salaries',
 'PayPal  26 salaries',
 'Amazon  103 salaries']

In [107]:
df=pd.DataFrame({'Company name':company_name , 'Minimum Salary': min , 'Maximum Salary': max , 'Average Salary':average , 'Exprience':expr})
df

,Company name,Minimum Salary,Maximum Salary,Average Salary,Exprience
0,Google 11 salaries,₹ 10.4L,₹ 40.0L,₹ 26.9L,3 yrs exp
1,Arista Networks 13 salaries,₹ 10.7L,₹ 38.0L,₹ 24.7L,3-4 yrs exp
2,Microsoft Corporation 253 salaries,₹ 13.0L,₹ 45.0L,₹ 23.7L,4 yrs exp
3,Goldman Sachs 16 salaries,₹ 12.0L,₹ 34.0L,₹ 22.3L,2 yrs exp
4,Tekion 32 salaries,₹ 12.0L,₹ 33.0L,₹ 21.0L,3-4 yrs exp
5,Flipkart 61 salaries,₹ 7.5L,₹ 31.0L,₹ 20.3L,2-4 yrs exp
6,Servicenow Software Development India 54 sala...,₹ 13.0L,₹ 26.3L,₹ 20.2L,2-4 yrs exp
7,Walmart 81 salaries,₹ 11.0L,₹ 32.5L,₹ 19.9L,2-4 yrs exp
8,PayPal 26 salaries,₹ 12.0L,₹ 30.0L,₹ 19.8L,4 yrs exp
9,Amazon 103 salaries,₹ 8.0L,₹ 43.0L,₹ 19.7L,4 yrs exp